<div class='body grid-x grid-x-margins'>
  <h2 class=small-12>
    Hello and welcome!
  </h2>
  <img
    src="/assets/shades.png"
    alt=''
    class="small-12 medium-3"
  >
  <p class='small-12 medium-9'>
    My name is Patrick Wetzel-Meyers, but having grown up in a town and school system with many other Patricks my own age, I prefer to go by "Shades", a high school nickname that stuck.
  </p>

</div>
