<div class='body'>
  <h2 class='center-text'>
    Hello and Welcome!
  </h2>
  <img
    src="/assets/shades.png"
    alt='Patrick "Shades", sitting in a car, smiling'
    height=360
    width=300
    class="center"
  >
  <p>
    My name is Patrick Wetzel-Meyers, but having grown up in a town and school system with many other Patricks my own age, I prefer to go by "Shades".
    <p>
    I started my coding journey with Learn Ruby the Hard Way, before going to Launch Academy.
    <p>
    Learn Ruby the Hard Way was a great starting point for me, and inspired me to build a text-based adventure game, "Don't Go Quietly"; my first ever project. "Don't Go Quietly" was written before I learned about Classes or Modules, and it shows.
    <p>
    Launch Academy's Coding Bootcamp course was a wonderful learning experience. I learned more about Ruby, as well as learned JavaScript from the ground up, and I learned both the Rails and React frameworks. Most importantly, Launch taught me how to think about code, not just how to write it.
  </p>

</div>
